.block {
    border: 2px solid #000;
    padding: 10px;
    font-family: sans-serif;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.block1 {
    background: rgb(40, 180, 100);
    color: black;
    width: 120px;
    top: 20px;
    left: 50px;
    opacity: 1;
}

.block2 {
    background: rgb(90, 150, 220);
    color: white;
    width: 300px;
    top: 20px;
    left: 200px;
}

.block3 {
    background: rgb(90, 70, 130);
    color: white;
    height: 130px;
    width: 300px;
    top: 80px;
    left: 200px;
}

.block1:hover + .block2 {
    opacity: 1;
}

.block2:hover {
    opacity: 1;
}

.block2:hover + .block3 {
    opacity: 1;
}

.block3:hover {
    opacity: 1;
}
