body {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.30);
    margin: 0;
}

.wrapper {
    width: 1140px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
}

header {
    margin-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 15px;
}

li {
    margin: 15px;
    float: left;
}

.menu a {
    text-decoration: none;
    color: coral;
    padding: 10px 10px;
    background: indigo;
    font-weight: lighter;
    border-radius: 10px;
}

.nav-logo {
    float: left;
}

.menu {
    float: right;
}

main {
    clear: both;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.shadow-item {
    outline: 1px solid green;
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    float: left;
    margin: 30px;
    padding: 10px;
    text-align: left;
}

.shadow-item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.block-menu {
    list-style: none;
    float: right;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.left-sided-shadow {
    width: 250px;
    height: 300px;
    border: 1px solid green;
    box-shadow: -5px -5px 5px 3px green;
}

.all-sided-shadow {
    width: 250px;
    height: 300px;
    border: 1px solid green;
    box-shadow: 0 0 10px 10px green;
}

.right-sided-shadow {
    width: 250px;
    height: 300px;
    border: 1px solid green;
    box-shadow: 5px 5px 5px 1px rgba(0, 128, 0, 0.5);
}

.semi-clear-shadow {
    width: 250px;
    height: 300px;
    border: 1px solid green;
    box-shadow: 0 0 30px 5px green;
}

.multicolour-shadow {
    border: 1px solid green;
    box-shadow: inset 5px 0 red, inset 0 5px green, inset -5px 0 blue, inset 0 -5px darkorange;
}

.twocolor-shadow {
    border: 1px solid green;
    box-shadow: 0 -12px 0 -7px orange, 0 12px 0 -7px darkgreen;
}